{% extends 'short/base.html' %}
{% load crispy_forms_tags %} 
{% block content %}
<div class="container d-flex justify-content-center">
	<div class="col-md-6">
		<form class="form" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom text-center mb-2">Reset Password</legend>
				{{form | crispy}}
			</fieldset>
			<div class="form-group">
			</div>
				<button type="submit" type="button" class="btn btn-outline-primary">Reset Password</button>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
