{% include 'short/base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="table-title">
            <div class="row">
                
                {% block header %}
                    <div class="col-sm-8"><h2>Url<b> Detail</b></h2></div>
                {% endblock header %}
            </div>
        </div>
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">Old url</th>
                    <th scope="col">New url</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ object.url }}</td>
                    <td>{{ object.slug }}</td>
                    
                    <td>
                        <a
                            type="button"
                            {% comment %} class="btn btn-sm btn-secondary" {% endcomment %}
                            href="{% url 'url-detail' object.id %}">
                            <i class="fa fa-filter" aria-hidden="true"></i>
                        </a>
                        <a
                            type="button"
                            {% comment %} class="btn btn-sm btn-info" {% endcomment %}
                            href="{% url 'url-update' object.id %}">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                        <a
                            type="button"
                            {% comment %} class="btn btn-sm btn-danger" {% endcomment %}
                            href="{% url 'url-delete' object.id %}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}